.calendar {
  margin-top: 20px;

  div {
    font-size: 9pt;
    font-family: monospace !important;
    line-height: 1.3em;
  }

  button {
    background-color: #424242 !important;
    border-color: #333 !important;
  }
}