@import "../styles/variables";

.widthContainer {
  max-width: $maxwidth;
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
}

.content {
  margin: auto;
  max-width: $textmaxwidth;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;

  .header {
    font-family: $herofont;
  }
}