@import "../styles/variables";

.headerContainer {
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  max-width: $maxwidth;
  margin: auto;

  h1 {
    font-family: $herofont;
    font-size: 13pt;
    color: $normalblack;
  }

  .clickable {
    text-decoration: none;
  }

  .clickable > *:hover {
    color: $hoverblack !important;
    text-decoration: underline;
  }

  .homeBtn {
    flex-basis: 10;
  }

  .links {
    flex: 10;
    display: flex;
    font-family: $linkfont;
    font-size: 12pt;
    justify-content: right;

    a {
      color: $normalblack !important;
      padding-left: 10px;
      padding-right: 5px;
    }

    a:hover {
      color: $hoverblack !important;
    }
  }
}