@import "../styles/variables";

* {
  margin: 0;
  padding: 0;
}

.pageContainer {
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
  margin-bottom: 30px;
}

h1, h2, h3, h4, h5, h6, p, li, tr, th, td {
  color: $normalblack;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: $herofont;
}

p, li, tr, th, td {
  font-family: $bodyfont;
  font-size: $bodyfontsize;
  line-height: 1.5em;
}

p {
  margin-top: 10px;
  margin-bottom: 10px;
}

li {
  margin-left: 30px;
}

a:hover {
  text-decoration: underline !important;
}