@import "../styles/variables";

* {
  margin: 0;
  padding: 0;
}

.pageContainer {
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
}

p {
  font-family: $bodyfont;
  font-size: 13pt;
  margin-top: 10px;
  margin-bottom: 10px;
}